<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.bartex.smetaelectro">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SmetaSpecific">
        </activity>

        <activity
            android:name=".SmetaChangeData"
            android:label="@string/title_activity_changeDataFile"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SmetaNewName"
            android:label="@string/title_activity_SmetaNewName"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SmetaCategoryElectro" />
        <activity android:name=".SmetaTypeElectro" />
        <activity android:name=".SmetaWorkElectro" />
        <activity android:name=".SmetaDetail"
            android:label="@string/title_activity_details"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".CostCategory" />
        <activity android:name=".CostType" />
        <activity android:name=".CostWork" />
        <activity android:name=".CostDetail" />
        <activity
            android:name=".Smetas"
            android:label="@string/title_activity_smetas1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListOfSmetasNames"
            android:label="@string/title_activity_ListOfSmetasNames" />
    </application>

</manifest>