<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.bartex.smetaelectro">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.smetabefore.SmetaNewNameChange"></activity>
        <activity
            android:name=".ui.smetas3tabs.smetaworkcost.SmetasWorkCost"
            android:label="@string/title_activity_smetas_work_cost"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.smetas3tabs.smetawork.SmetasWork"
            android:label="@string/title_activity_SmetasWork"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.smetas3tabs.changedata.changedatamat.ChangeDataMat"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.smetas3tabs.changedata.changedatamat.ChangeDataTypeMat"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.smetas3tabs.changedata.changedatamat.ChangeDataCategoryMat"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.smetas3tabs.specific.SpesificMat"
            android:label="@string/title_activity_CategoryMatSpecific"
            android:theme="@style/AppDialog" />
        <activity
            android:name=".ui.smetas3tabs.specific.SpesificTypeMat"
            android:label="@string/title_activity_CategoryMatSpecific"
            android:theme="@style/AppDialog" />
        <activity
            android:name=".ui.smetas3tabs.specific.SpecificCategoryMat"
            android:label="@string/title_activity_CategoryMatSpecific"
            android:theme="@style/AppDialog" />
        <activity
            android:name=".ui.smetas3tabs.smetamat.detailsmat.CostMatDetail"
            android:label="@string/title_activity_smetas_mat_cost"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.smetas3tabs.smetamatcost.SmetasMatCost"
            android:label="@string/title_activity_smetas_mat_cost"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.smetas3tabs.smetamat.detailsmat.DetailSmetaMatLine"
            android:label="@string/title_activity_details"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.smetas3tabs.smetamat.SmetasMat"
            android:label="@string/title_activity_SmetasMat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListOfSmetasStructured"
            android:label="@string/title_activity_SmetaListStructured" />
        <activity
            android:name=".ui.smetas3tabs.specific.SpesificWork"
            android:label="@string/title_activity_CategoryMatSpecific"
            android:theme="@style/AppDialog" />
        <activity android:name=".ui.smetas3tabs.changedata.changedatawork.ChangeDataWork" />
        <activity
            android:name=".ui.smetas3tabs.changedata.changedatawork.ChangeDataType"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.smetas3tabs.specific.SpecificType"
            android:label="@string/title_activity_CategoryMatSpecific"
            android:theme="@style/AppDialog" />
        <activity
            android:name=".ui.smetas3tabs.changedata.changedatawork.ChangeDataCategory"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.smetas3tabs.specific.SpecificCategory"
            android:label="@string/title_activity_CategoryMatSpecific"
            android:theme="@style/AppDialog" />
        <activity android:name=".ui.smetabefore.SmetaSpecification" />
        <activity
            android:name=".ui.smetabefore.SmetaNewName"
            android:label="@string/title_activity_SmetaNewName"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.smetas3tabs.smetawork.details.DetailSmetaLine"
            android:label="@string/title_activity_details"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.smetas3tabs.smetawork.details.DetailCost"
            android:label="@string/title_activity_CostDetail"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.smetas2tabs.SmetasTab"
            android:label="@string/title_activity_smetas1"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.smetabefore.ListOfSmetasNames"
            android:label="@string/title_activity_ListOfSmetasNames"
            android:launchMode="singleTask" />
    </application>

</manifest>